/* Defaults */
:root {
	--font-family: "Inter", sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
		Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
		Courier, monospace;
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #c0c0c0;
	--color-gray-90: #333;

	--background-color: #fff;

	--text-color: var(--color-gray-90);
	--text-color-link: #000000;
	--text-color-link-active: #8d099e;
	--text-color-link-visited: #000000;

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #c0c0c0;
		--color-gray-90: #dad8d8;

		/* --text-color is assigned to --color-gray-_ above */
		--text-color-link: #1493fb;
		--text-color-link-active: #6969f7;
		--text-color-link-visited: #a6a6f8;

		--background-color: #15202b;
	}
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	font-family: "Inter", sans-serif;
	color: #000000;
	margin: 0;
	padding: 0;
}
html {
	overflow-y: scroll;
}
body {
	max-width: 2048px;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1;
}

li {
	line-height: 1;
}

a {
	text-decoration: none;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main {
	padding: 1rem;
}

main :first-child {
	margin-top: 0;
}

header {
	padding: 20px;
	font-size: 0.3em;
}

header:after {
	content: "";
	display: table;
	clear: both;
	padding-bottom: 80px;
}

.links-nextprev {
	list-style: none;
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: 0.5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}

.home-link {
	font-size: 4em; /* 16px /16 */
	font-weight: 700;
	margin-right: 2em;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Posts Grid */
.posts-grid,
.postlist {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* Creates a three-column layout */
	gap: 20px; /* Adjusts the gap between grid items */
	list-style: none;
	padding: 0px 0;
	margin: 0;
}

.posts-grid article {
	background-color: #ebebeb;
	border-radius: 15px;
	padding: 0px;
	max-width: 600px;
	overflow: hidden;
}

.posts-grid article h2 {
	font-size: 2em;
	padding-right: 30px;
	padding-left: 30px; /* Indent the title */
	margin-bottom: 20px;
}

.posts-grid article p {
	padding-right: 30px;
	padding-left: 30px; /* Indent the title */
	margin-bottom: 10px;
}

.post-image {
	border-radius: 15px 15px 0 0;
	overflow: hidden; /* Keeps child elements within the rounded corners */
	border: 1px solid #ccc;
	padding: 0px;
	width: 100%;
	height: auto; /* Keeps the aspect ratio of the image */
}

.postlist-item {
	display: flex;
	flex-direction: column; /* Stack elements vertically within each item */
	align-items: baseline;
	border: 1px solid var(--color-gray-20); /* Optional: adds a border around each post */
	padding: 1em;
	background-color: var(
		--background-color
	); /* Optional: adds a background color */
}

/* Adjustments for the counter */
.postlist-item:before {
	content: counter(start-from) ". ";
	counter-increment: start-from;
	font-size: 0.8125em; /* Adjust the font size as needed */
	color: var(--color-gray-90);
	margin-right: 0.5em; /* Adjust spacing between the counter and post title */
}

/* Responsive Adjustment */
@media screen and (max-width: 768px) {
	.posts-grid {
		grid-template-columns: repeat(2, 1fr); /* Two columns for smaller screens */
	}
}

@media screen and (max-width: 480px) {
	.posts-grid {
		grid-template-columns: 1fr; /* Single column for very small screens */
	}
}
.postlist-date,
.postlist-item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-90);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: 0.25em;
	padding-right: 0.5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	text-transform: capitalize;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 0.5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 2em;
	margin-left: 0.1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 + .header-anchor {
	font-size: 1.5em;
}
