---
layout: layouts/base.njk
eleventyNavigation:
  key: Dexter
  order: 5
---

<h1>Dexter</h1>
{% block content %}
    {% for post in collections.Indy %}
        <article>
            <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}">
            <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
            <p>{{ post.date | readableDate("LLLL d, yyyy") }}</p>
            <p>{{ post.data.description }}</p>
        </article>
    {% endfor %}
{% endblock %}