---
layout: layouts/base.njk
---

{% block content %}
<div class="posts-grid">
    {% set sortedPosts = collections.posts | sort(attribute='date') | reverse %}
    {% for post in sortedPosts %}
        <article>
            {% image post.data.image, post.data.imageAlt, "(min-width: 1200px) 33vw, (min-width: 768px) 50vw, 100vw", "post-image" %}
            <h2>{{ post.data.title }}</h2>
            <p>
                {% set tagsWithoutPosts = post.data.tags | reject('equalto', 'posts') %}
                {% for tag in tagsWithoutPosts %}
                <a href="/tags/{{ tag | url }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
                {% endfor %}
            </p>        
        </article>
    {% endfor %}
</div>
{% endblock %}
